@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap);
:root{
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --blue: hsl(0, 120%, 240%);
    --salmon-rose: hsl(7, 66%, 73%);
    --dark-red: hsl(5, 18%, 13%);

    --Orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
}

@media (prefers-reduced-motion: reduce){
    *,
    *::before,
    *::after{
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ---------------------Login Page----------------------- */
input {
    caret-color: red;
}

body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #ecf0f3;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    overflow: hidden;
    font-family: poppins;
}

.container {
    position: relative;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.brand-logo {
    height: 100px;
    width: 100px;
    background: url("../images/logo.svg");
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

.brand-title {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: var(--Orange);
    letter-spacing: 1px;
}

.inputs {
    text-align: left;
    margin-top: 30px;
}

label, 
input, button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

label {
    margin-bottom: 4px;
}

label:nth-of-type(2) {
    margin-top: 12px;
}

input::placeholder {
    color: gray;
}

input {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

button{
    color: white;
    margin-top: 20px;
    background: var(--Orange);
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px var(--pale-orange), -6px -6px 6px var(--pale-orange);
    transition: 0.5s;
}

button:hover {
    box-shadow: none;
}

a {
    position: absolute;
    font-size: 8px;
    bottom: 4px;
    right: 4px;
    text-decoration: none;
    color: black;
    background: var(--pale-orange);
    border-radius: 10px;
    padding: 2px;
}


h1 {
    position: absolute;
    top: 0;
    left: 0;
}

#signUp{
    display: flex;
    position: relative;
    background: none;
    cursor: pointer;
    font-weight: 300;
    transition: 0.5s;
    margin-left: 108px;
    font-size: medium;
    top: 4px;
}